@import '~/mixins';

.logo {
  width: fit-content;
  height: var(--header-height);
  font-size: 24px;
  @include flexbox($alignItems: center, $justifyContent: center);

  span {
    font-weight: 700;
    transition: 0.1s linear;
  }

  &:hover {
    span {
      color: var(--color-primary);
      transition: 0.1s linear;
    }
  }
}
